.profile__add-button { 
    display: inline-block;
    background-color: transparent;
    margin: 0;
    background-image: url(../../../images/plus.svg);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: 22px 22px;
    border: 2px solid #FFF;
    width: 150px;
    height: 50px;
    border-radius: 2px;
    cursor: pointer;
}

.profile__add-button:hover {
    opacity: 0.6;
}

@media (max-width: 700px) {
    .profile__add-button {
        width: 282px;
        background-size: 16px 16px;
    }
}